.ui.main.container {
  margin-top: 10em;
}

.Footer {
  text-align: center;
  margin-top: 900px;
}

.officeCheckBox{
  margin-bottom: 5px;
  margin-left: 25px;
}

.fullTimeCheckBox{
  margin-bottom: 12px;
  margin-left: 13px;
}




