.ui.main.container {
  margin-top: 10em;
}

.Footer {
  text-align: center;
  margin-top: 850px;
}

.ui.sidebar.menu {
  overflow: visible !important;
}

.handWriting{
  font-family: "Lucida Handwriting", cursive;
}

.jobDescription{
  font-family: "Calibri Light", sans-serif;
}